<p class = "test">Welcome to the user interface for <b>Hector</b>: an open source, object-oriented, and interactive simple global climate carbon-cycle model. It runs essentially instantaneously while still representing the most critical global scale earth system processes, and is one of a class of models heavily used for for emulating complex climate models and uncertainty analyses.
</br>
</br>
This interactive version is built upon previous work by developers at the <a href = "https://www.pnnl.gov/projects/jgcri">Joint Global Change Research Institute (JGCRI)</a>, including the development of the initial C++ version of Hector, and the follow up R Package "Hector R".</p>
