@charset "utf-8";
/* CSS Document */

body
{
  font-size: 12px;
}

fas,fab
{
  vertical-align: middle;
  border: #A23739 thick;
}

h2
{
  font-size: 28px;
  text-align: center;
  margin-top: 15px;
}

h4
{
  font-size: 16px;
}

hr
{
  color: #375a7f;
  border-top: 2px solid #375a7f;
}

iframe
{
  border: none;
}

img
{
  padding: 10px;
}

input
{
  padding:5px 10px;
}

label
{
  font-weight: normal;
  margin-bottom: 3px;
}

.btn
{
  padding: 4px 10px;
  font-size: 13px;
  border: 1px #AC7023 solid;
  border-radius: 1px;
  margin-right: 2px;
  margin-left: 2px;
}

.changedParamsTrue
{
	border: #AC7023 thick;
	font-size: 25px;
}

.changedParamsFalse
{
	border: none;
}

.checkbox
{
	display: inline-block;
}

.col-sm-3
{
  padding-right: 10px;
  padding-left: 10px;
}

.container
{
  width: 1600px;
}

.container-fluid
{
  height:20px;
}

.customPlot
{
  display:inline-block;
}

.form-control
{
  height: 27px;
  font-size: 12px;
  padding-right: 12px;
  padding-left: 12px;

}

.form-control-small
{
  display: inline;
  vertical-align:top;

}

.form-dropDownDiv
{
  display:inline;
  padding-right:15px;
}

.form-group
{
  margin-bottom: 12px;
}

.group-output
{
  display:inline-block;
  padding: 5px;
}

.hrNav
{
  margin-top: -5px;
  margin-bottom: 10px;

}

.navbar
{
  min-height: 50px;
  margin-bottom: 15px;
}

.paramDivs
{
  display:inline-block;
}

.paramDivsTopItem
{
  width: 205px;
  display:inline-block;
  vertical-align:middle;
}

.popover
{
  border: solid 2px;
  border-color: #AC7023;
}

.progress
{
  margin-bottom: 15px;
}

.progress-bar
{
  /*visibility: visible;*/
}
.progress.shiny-file-input-progress
{
 /* visibility: visible;*/
}

#shiny-notification-panel
{
  top: 50% !important;
  left: 50% !important;
  margin-top: -100px !important;
  margin-left: -250px !important;
  /*color: blue;
  border: solid 2px;
  border-color: #AC7023;;*/
  font-size: 20px;
  font-style: italic;
  height: auto;
  width: 250px;
}

.well
{
  padding: 17px;
  padding-top: 8px;

}
