@charset "utf-8";
/* CSS Document */

body
{
	font-size: 13px;
	background-color:#000000;
}

fas,fab
{
	vertical-align: middle;
	border: #A23739 thick;
}

figcaption
{
	font-style: italic;
	padding-bottom: 5px;
}

h2
{
	font-size: 28px;
	/*font-weight: bold;*/
	/*color:#FAF7F2;*/
}

h3
{
	font-size: 20px; /*font-weight: bold;*/
	/*color:#FAF7F2;*/
}

h4
{
	font-size: 18px;font-weight: bold;
	/*color:#FAF7F2;*/
}

h5
{
	font-size: 16px; font-weight:bold;
	margin-bottom: 9px;
	/*color:#FAF7F2;*/
}

h6
{
	font-size:15px; 
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 10px;
	/*color:#FAF7F2;*/
}

hr
{
	color: #375a7f;
	border-top: 2px solid #375a7f;
}

iframe
{
	border: none;
}

img
{
	padding: 10px;
}

input
{
	padding:5px 10px;
}

label
{
	font-weight: normal;
	margin-bottom: 3px;
}

li
{
	padding-left: 2px;
	list-style-position: outside;
}

ol
{
	
	list-style-position: outside;
	/*counter-reset: my-awesome-counter;*/
	padding-left: 10px;
}
/*
ol li
{
	counter-increment: my-awesome-counter;
}

ol li::before 
{
	content: counter(my-awesome-counter) ". ";
	color: #FAF7F2;
	font-weight: bold;
	font-size: 16px;
	
}
*/
table a:not(.btn), .table a:not(.btn)
{
	text-decoration: none;
}

table a:not(.btn):hover, .table a:not(.btn):hover
{
	text-decoration: underline;
}

.btn
{
	padding: 4px 10px;
	font-size: 13px;
	border: 1px #AC7023 solid;
	border-radius: 1px;
	margin-right: 2px;
	margin-left: 2px;
	margin-bottom: 2px;
	/*background-color: #375a7f;*/
}

.changedParamsTrue
{
	border: #AC7023 thick;
	font-size: 25px;
}

.changedParamsFalse
{
	border: none;
}

.checkbox
{
	display: inline-block;
}

.citationsDiv
{
	display: inline-block;
	vertical-align: top;
	padding: 10px;
}

.citationsTable
{
	padding:3px;
}


.citationsTable a
{
	text-decoration: none;
}

.citationsTable .hover
{
	text-decoration: underline;
}

.citationsHeader
{
	font-size: 15px;
	font-weight: bold;
}


.col-sm-3
{
	padding-right: 10px;
	padding-left: 5px;
}

.col-sm-9
{
	padding-left: 9px;
}

.container
{
	width: 1600px;
	background-color:#222222;
	height: 100vh;
}

.container-fluid
{
	padding-left: 10px;
}

.customPlot
{
	display:inline-block;
}

.fa-check
{
	color:limegreen;
	padding:2px;
	padding-right: 4px;
}

.fa-info
{
	color:cornflowerblue;
	padding:2px;
	padding-right: 4px;
}

.fa-times
{
	color: red;
	padding:2px;
	padding-right: 4px;
}

.form-control
{
	height: 27px;
	font-size: 12px;
	padding-right: 12px;
	padding-left: 12px;

}

.form-control-small
{
	display: inline;
	vertical-align:top;

}

.form-dropDownDiv
{
	display:inline;
	padding-right:15px;
}

.form-group
{
	margin-bottom: 10px;
}

.gtitle, .g-title, .g-gtitle
{
	padding-top: 15px;
}

.group-output
{
	display:inline-block;
	padding: 5px;
}

.hrNav
{
	margin-top: -5px;
	margin-bottom: 10px;

}

.imgNoPadding
{
	padding: 3px;
}

.js-plotly-plot .plotly .modebar 
{
 	padding-top: 24px;
  	position: absolute;
	left:36px!important;
}

.main-container
{
	padding-bottom: 10px;
}

.nav-tabs>li>a
{
	border: 1px solid #464545;
	padding: 10px 10px 5px 10px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus
{
	color: #FFFFFF;
	background-color: #375a7f;
	
}

.navbar
{
	min-height: 50px;
	margin-bottom: 15px;
}

.navbar-brand:hover
{
	color: #FFFFFF!important;
}

.paramDivs
{
	display:inline-block;
}

.paramDivsTopItem
{
	width: 205px;
	display:inline-block;
	vertical-align:middle;
}

.popover
{
	border: solid 2px;
	border-color: #AC7023;
}

.pretty input:checked~.state.p-primary label:after
{
	background-color:#db735c!important;
}

.pretty input:checked~.state.p-success label:after
{
	background-color:#EFA86E!important;
}

.pretty input:checked~.state.p-warning label:after
{
	background-color:#9A8A76!important;
}

.pretty input:checked~.state.p-danger label:after
{
	background-color:#7A6752!important;
}

.progress
{
	margin-bottom: 10px;
}

.selectize-input
{
	padding-top: 4px;
	padding-bottom: 3px;
	min-height: 30px;
}

.tdPushTop
{
	vertical-align: top;
}

.tdPushBottom
{
	vertical-align: bottom;
}

.titleText
{
	text-align: left;
  	margin-top: 15px;
	padding-left: 420px;
}

.ul-None {
	list-style: none;
	padding: 2px;
	padding-left: 4px;
}

.ul-None li
{
	padding:1px;
}

.well
{
	padding: 12px;
	padding-top: 8px;
	margin-bottom: 0;
	background-color: #3e3e3e;
}

.zenodo
{
	padding-top: 0px!important;
	padding-bottom: 0px!important;
}


#shiny-notification-panel
{
	top: 50% !important;
	left: 50% !important;
	margin-top: -100px !important;
	margin-left: -250px !important;
	/*color: blue;
	border: solid 2px;
	border-color: #AC7023;;*/
	font-size: 20px;
	font-style: italic;
	height: auto;
	width: 250px;
}

